/* Light weight for web fonts */
@font-face {
    font-family: "SC Prosper Sans Light";
    src: url("/public/fonts/SCProsperSans-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

/* Regular weight for OTF/TTF fonts */
@font-face {
    font-family: "SC Prosper Sans Regular";
    src: url("/public/fonts/SCProsperSans-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Medium weight for OTF/TTF fonts */
@font-face {
    font-family: "SC Prosper Sans Medium";
    src: url("/public/fonts/SCProsperSans-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/* html {
    font-size: 87.5%;
} */

body {
    background-color: #fffafa;
    box-sizing: border-box;
    font-family: "SC Prosper Sans Regular", Arial, sans-serif;
}

.custom-background {
    background-image: linear-gradient(
            to bottom,
            rgba(13, 27, 62, 1) 0%,
            rgba(13, 27, 62, 0.8) 10%,
            rgba(13, 27, 62, 0) 35%,
            rgba(0, 0, 0, 0.8) 70%,
            rgba(0, 0, 0, 1) 95%
        ),
        url("../../public/images/background-image.png");
    width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
    -moz-appearance: textfield; /* Firefox */
}
select {
    -webkit-appearance: none; /* for webkit (safari, chrome) compatibility */
    -moz-appearance: none; /* for firefox compatibility */
    appearance: none;
}

.title {
    font-family: "SC Prosper Sans Medium";
    font-weight: 500;
}

/* .title-bg {
    background: linear-gradient(
        to bottom,
        rgba(13, 27, 62, 1),
        rgba(13, 27, 62, 0) 50%,
        rgba(0, 0, 0, 0.7) 60%,
        rgba(0, 0, 0, 1) 95%
    );
} */
